-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			menu: [
				{
					url: '#intro',
					name: 'Резюме'
				},
				{
					url: '#about',
					name: 'О себе'
				},
				{
					url: '#skills',
					name: 'Навыки'
				}
			]
		},

		home: {
			title: 'Александр Вопилин,<br>Front-end developer',
			description: 'Мне нравится создавать красивые и сложные анимации с помощью CSS и JS. С удовольствием беру на себя ответственность за реализацию эстетичного интерфейса.',
			mail: "alexandr.vopilin@mail.ru",
			phone: "+7 (987) 902-43-73",
			trimPhone: "+79879024373",
			city: {
				link: "https://yandex.ru/maps/-/CCUzARcZ1D",
				name: "г. Самара"
			},
			share: ["facebook", "vkontakte", "telegram"],
		},

		about: {
			jobs: [
				{
					date: "Июль 2019",
					position: "Freelance Designer",
					company: {
						name: "",
						logo: ""
					},
					location: "Netherlands, Worldwide",
					description: "Available for a project or job in UX/UI, Visual and Product design.",
					links: [
						{
							link: "/",
							text: "Commercial tryouts",
						},
						{
							link: "/",
							text: "Personal projects",
						},
					],
					tags: [
						"purple",
						"yellow",
						"blue",
					],
				},

				{
					date: "Январь 2017 - Сентябрь 2018",
					position: "Digital Designer",
					company: {
						name: "J Creative Solutions",
						logo: "images/logos/j-creative-solutions.png",
					},
					location: "Digital agency in Minsk, Belarus",
					description: "Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentations for clients and indoor purposes.",
					links: [
						{
							link: "/",
							text: "Agency projects",
						},
					],
					tags: [
						"pink",
						"blue",
					],
				},

				{
					date: "Март 2014 - Февраль 2017",
					position: "SEO Specialist → Lead SEO Specialist",
					company: {
						name: "OZ.by",
						logo: "images/logos/oz.png",
					},
					location: "Online bookstore in Minsk, Belarus",
					description: "Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team, I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.",
					links: [
						{
							link: "/",
							text: "Annual company report 2016",
						}
					],
					tags: [
						"blue",
						"orange",
					],
				},

				{
					date: "Август 2012 - Ноябрь 2013",
					position: "Content Specialist",
					company: {
						name: "21vek.by",
						logo: "images/logos/21vek.png"
					},
					location: "E-commerce store in Minsk, Belarus",
					description: "Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is correct in the catalogue with the goal of improving online shopper experience.",
					tags: [
						"orange"
					],
				},

				{
					date: "Август 2011 - Ноябрь 2014",
					position: "Software Support Engineer",
					company: {
						name: "Integral",
						logo: "images/logos/integral.png"
					},
					location: "Microelectronics factory in Minsk, Belarus",
					description: "Supported retail accounting system LS Trade, troubleshoot technical problems.",
					tags: [
						"green"
					],
				},

			],
			educ: [
				{
					title: "Interface Design:<br>Web & Mobile",
					place: "IT-Academy, 2020",
					tags: [
						"purple",
						"yellow",
						"blue",
					],
				},
				{
					title: "Fundamentals<br>of Usability",
					place: "Skillshare, Oct&nbsp;2018",
					tags: [
						"yellow"
					],
				},
				{
					title: "CG Artist",
					place: "Polygon CG School, May-Sep&nbsp;2017",
					tags: [
						"pink"
					],
				},
				{
					title: "Graphic Design",
					place: "Belarusian State Academy of&nbsp;Arts, 2015&nbsp;-&nbsp;2017 Postgraduate Diploma",
					tags: [
						"blue"
					],
				},
				{
					title: "SEO Specialist",
					place: "ARTOX Media,<br>Jun-Aug&nbsp;2012",
					tags: [
						"orange"
					],
				},
				{
					title: "Information<br>Technology Software",
					place: "Belarusian State University of&nbsp;Informatics and Radioelectronics, 2011&nbsp;-&nbsp;2015 Bachelor’s degree Polotsk State Economic College, 2007&nbsp;-&nbsp;2011 Associate’s degree",
					tags: [
						"green",
					],
				},
			],
		},

		skills: [
			{
				title: "Adobe Creative Suite",
				desc: "Photoshop, Illustrator, InDesign, XD, After Effects",
			},
			{
				title: "Prototyping",
				desc: "Sketch, Figma, InVision, Marvel, Principle, Balsamiq",
			},
			{
				title: "Additional",
				desc: "HTML, CSS, Google Analytics, Keynote, Miro",
			},
			{
				title: "Languages",
				desc: "Conversational English and Native Russian"
			}
		],

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
