.section-intro {
	padding-top: 290px;
}

.social-link {
	margin-right: 20px;
	width: 25px;
	height: 25px;
}

.section-intro__figure {
	position: absolute;
	left: -3px;
	bottom: -253px;
	z-index: -1;
	clip-path: inset(0 0 0 100%);
	width: 101%;
	height: auto;
	transition: $duration-normal * 3;

	.loaded & {
		clip-path: inset(0 0 0 0%);
	}
}

@include mobile {
	.section-intro {
		padding-top: 130px;
	}

	.section-intro__figure {
		bottom: -83px;
	}
}
